html
,body {
  margin: 0;
}

#root {
  height: calc(100% - 22px) ;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin-block-start: unset !important;
    margin-block-end: unset !important;
}

.phone {
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}

.style-preOrder {
  position: relative;
    top: -16px;
    right: -8pc;
}

.card-iphone {
  background: #F8F1DF;
  width: '278px';
  height: '568px';
}

.style-mobile {
  width: 122px;
  height: 214.5px;
}

.style-youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  width: 1600px;
  height: 900px;

}



